# Local
.DS_Store
*.local
*.log*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dist
node_modules
dist/
.rsbuild/
.rspack/

# Tanstack
.tanstack/

# Environment
.env
.env.local
.env.*.local

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
server/.env
.agents/tasks/
.agents/skills/

/generated/prisma

# Package Lock (Optional)
pnpm-lock.yaml
yarn.lock
package-lock.json

server/tmp_build
server/tmp/
src/routeTree.gen.ts
server/api.exe
server/cmd/monitor/monitor.exe
server/tmp_build.exe
scratch_jwt.py
scratch/*
